body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:calibri,arial;
    background:#ccc;
}
.container {
    overflow-x: auto;
    padding: .5em 1.5em 2em 1.5em;
    background: #fff;
}
.indexed-table {
    overflow-x: auto;
    width: 100%;
    margin:0;
    padding:0;
    box-sizing:border-box;
    background: #fff;
    border-collapse: collapse;
}
.indexed-table th {
    text-align: left;
    text-transform: Capitalize;
}
.indexed-table th, .indexed-table td {
    border-bottom: 1px solid #ccc;
    color: #333;
    padding: .3em 3px;
}
 a {
    color: rgb(19, 115, 211);
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
footer {
    padding:2em 1em;
    text-align:center;
    color:#333;
}
footer a {
    color:#333;
    font-weight:bold;
}
.foot-note {
    padding: 1em 0 0 0;
}
.breadcrumbs a {
    color: rgb(56, 31, 199);
}
.breadcrumbs {
    padding: 0 0 1em 0;
}