body {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:calibri,arial;
    max-width: 100vw;;
    overflow-x: auto;
    background:#ccc;
}
.container {
    padding: .5em 1.5em 2em 1.5em;
    background: #fff;
}
.indexed-table th {
    text-transform: Capitalize;
}
.indexed-table th, .indexed-table td {
    padding:0 3px;
    color: #333;
}
 a {
    color: rgb(19, 115, 211);
}
footer {
    padding:2em 1em;
    text-align:center;
    color:#333;
}
footer a {
    color:#333;
    font-weight:bold;
}